<a href="https://colab.research.google.com/github/yuinyu4/yuinyu4.github.io/blob/master/DSW2_Numpy_blank.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [1] Numpy 선언 및 1차원 배열 선언

넘파이 라이브러리 불러오기

In [ ]:
import numpy

## 1.1) 리스트를 선언해보세요 </br>
e.g.) mlist = [1, 2, 3, 4, 5]

In [ ]:
mlist =

In [ ]:
print(mlist)

## 1.2) 위에서 만든 리스트를 Numpy Array로 만들어보세요 </br>
e.g.) numpy.array(list)

In [ ]:
# 리스트를 numpy array로 변경후 변수 arr에 주소를 담아 줍니다. 
arr =

In [ ]:
print(arr)

## 1.3) mlist, arr 의 데이터타 타입(type) 출력해봅시다. </br>e.g.) type(list)</br> e.g.) type(array)

In [ ]:
# 여기에 코드를 작성해 주세요

##1.4) 배열의 크기를 확인 해봅시다. </br> e.g.) arr.shape

In [ ]:
# 여기에 코드를 작성해 주세요

리스트는 크기를 확인할 수 있는 shape 함수가 없어요

In [ ]:
mlist.shape

# [2] 2차원 배열

넘파이 선언 및 약어 설정

In [ ]:
import numpy as np

In [ ]:
print(numpy.array([1, 2, 3]))
print(np.array([1, 2, 3]))

## 2.1) 1차원, 2차원 배열을 선언해 봅시다

1 차원 배열 : [1, 2, 3] </br>
2 차원 배열 : [[1, 2, 3], [4, 5, 6]]

In [ ]:
# 1차원 배열
arr1 = 
print(arr1)

# 2차원 배열
arr2 = 
print(arr2)

## 2.2) 각각의 타입과 크기를 확인해볼까요?

In [ ]:
# type(arr)

In [ ]:
# arr.shape

# [3] 다양한 생성 방법

## 3.1) 리스트로 생성

In [ ]:
mlist = [[1, 2, 3], [4, 5, 6]]

# mlist 를 이용해서 Numpy 배열을 선언해보세요

## 3.2) full 함수로 만들기

In [ ]:
np.full(3, 6)

In [ ]:
# 10으로 채워진 5개짜리 배열을 만들어보세요.

## 3.3) zeros 함수로 만들기

In [ ]:
np.zeros(3)

In [ ]:
np.zeros(4, dtype=int)

In [ ]:
# zeros함수로 2행 3열의 int형 배열을 만들어보세요.

## 3.4) ones 함수로 만들기

In [ ]:
np.ones(3)

In [ ]:
np.ones(3, dtype=int)

In [ ]:
# ones 함수를 이용해서 2행 3열의 int형 배열을 생성해보세요

## 3.5) random 함수로 만들기

In [ ]:
np.random.random(5)

random 함수로 2차원 배열을 만들어봅시다

In [ ]:
np.random.random(???)

In [ ]:
np.random.randint(3)

In [ ]:
np.random.randint(0, 10, 5)

In [ ]:
np.random.randint(0, 10, size=(2, 3))

In [ ]:
np.random.choice(10, 3)

## 3.6) arange 함수로 만들기

In [ ]:
list(range(10))

In [ ]:
np.arange(10)

In [ ]:
np.arange(2, 8)

In [ ]:
# 10 보다 작은 홀수
np.arange(1, 10, 2)

In [ ]:
# 20 보다 작은 3의 배수만 출력
np.arange(3, 20, 3)

## [Mission1]

## 1) 0 ~ 80 까지의 숫자 중, 6의 배수만 들어있는 배열을 만들어 보세요.

In [ ]:
np.arange(?, ?, ?)

## 2) 아래와 같은 2차원 배열을 만들어 보세요.(리스트를 사용하세요) </br>
    [[1, 2, 3], [4, 5, 6]]

In [ ]:
# np.array(리스트)
arr = 

print(arr)

# [4] Numpy 인덱싱과 슬라이싱

## 4.1) 인덱싱

In [ ]:
mlist = [1, 2, 3]

In [ ]:
mlist[0]

In [ ]:
mlist[-3]

In [ ]:
arr = np.array([1, 2, 3])

In [ ]:
arr[0]

In [ ]:
arr[-3]

## 4.2) 슬라이싱

In [ ]:
arr = np.array([2, 6, 8, 9, 12, 23, 27, 32, 35])

In [ ]:
# range(시작값, 끝값, 스텝)
# arange(시작값, 끝값, 스텝)
# 인덱싱[시작값, 끝값, 스텝]

In [ ]:
# 시작 + 끝
arr[0:5]

In [ ]:
# 시작 + 끝 + 스텝 지정
arr[0:5:2]

In [ ]:
arr = np.arange(10)
arr

In [ ]:
arr[::2]

In [ ]:
arr[0:-1:2]

Boolean을 이용한 슬라이싱도 가능해요!

In [ ]:
arr = np.array([1, 2, 3, 4, 5])

In [ ]:
arr[[True, True, False, False, True]]

# [5] Numpy 기본 연산

## 5.1) 두배 연산 해보기 (리스트)

In [ ]:
mlist1 = [1, 2, 3, 4, 5]

In [ ]:
mlist2 = []
for idx in range(len(mlist1)):
  print(mlist1[idx] * 2)
  mlist2.append(mlist1[idx] * 2)
mlist2

## 5.2) 두배 연산 해보기 (Numpy)

In [ ]:
arr = np.array(mlist1)

In [ ]:
arr2 = arr * 2

In [ ]:
arr2

리스트에 두배 연산을하면 어떻게 될까요?? </br>

mlist * 2

In [ ]:
mlist1 * 2

## [CHECK!] Numpy 연산은 얼마나 빠를까?

In [ ]:
arr = np.array(range(20000000))

In [ ]:
# 시간 측적 함수 매크로 %%time과 %time
%%time
list1 = []
for v in arr:
  if v % 2 == 0 and v % 8 == 0:
    list1.append(v)
print(len(list1))

In [ ]:
# for 문이 아닌 경우에는 %time 명령을 쓸 수 있어요.
%time len(arr[(arr % 2 == 0) & (arr % 8 == 0)])

In [ ]:
# 몇배나 빠른걸까?

## 5.3) 기본연산 해보기

In [ ]:
# 아래 Numpy 배열에 사칙연산을 해보세요
arr = np.array([2, 4, 6, 8, 10])

In [ ]:
# 배열 덧셈

In [ ]:
# 배열 뺄셈

In [ ]:
# 배열 곱센

In [ ]:
# 배열 나눗셈

## 5.4) 배열간 연산

In [ ]:
# 리스트간의 연산 결과는?
mlist1 = [1, 3, 5, 7, 9]
mlist2  = [2, 4, 6, 8, 10]

In [ ]:
# 아래 배열들의 덧셈 연사을 해보세요
arr1 = np.array([1, 3, 5, 7, 9])
arr2 = np.array([2, 4, 6, 8, 10])

## 5.5) Boolean 연산

숫자 한개에 대한 Boolean연산을 먼저 해봅시다.

In [ ]:
24 > 20

In [ ]:
# 먼저 배열을 하나 선언해줍니다. 
arr = np.array([28, 16, 1, 27, 55, 8, 19])

In [ ]:
arr > 20

Boolean 을 이용한 슬라이싱을 기억하나요? </br>
True 인 값만 가져오는 방법이 있었지요?

In [ ]:
# 20보다 큰수만 추출
arr[arr > 20]

In [ ]:
# 짝수만 추출해봅시다

# [6] 알아두면 좋은 함수들

## 6.1) where

where 함수는 조건이 True인 값의 인덱스 값을 알려줘요

In [ ]:
arr = np.array([28, 16, 1, 27, 55, 8, 19])
print(np.where(arr % 2 == 0))
print(np.where(arr % 2 == 1))

In [ ]:
# arr 배열의 값 중에서 20 이상인 값들의 인덱스를 출력해보세요

## 6.2) sort

sort 함수는 배열을 정렬하는데 사용해요!

In [ ]:
np.sort(arr)

In [ ]:
# 거꾸로 정렬해 볼까요?
np.sort(arr)[::-1]

2차원 배열은 어떻게 정렬할까요?

In [ ]:
arr2 = np.array([
                  [2, 1, 6], 
                  [0, 7, 4],
                  [5, 3, 2]
                 ])
arr2

In [ ]:
np.sort(arr2, axis=0)

In [ ]:
np.sort(arr2, axis=1)

In [ ]:
arr2.sort(axis=0)
arr2

In [ ]:
arr2.sort(axis=1)
arr2

In [ ]:
print(arr2)
arr2[:, 0].sort()
print(arr2)

In [ ]:
# 리스트도 정렬해볼까요?
mlist = [
          [2, 1, 6], 
          [0, 7, 4],
          [5, 3, 2]
        ]
print(mlist)

In [ ]:
sorted(mlist, key=lambda x : x[0])

In [ ]:
sorted(mlist, key=lambda x : x[1])

## 6.3) 2차원 배열 인덱싱, 슬라이싱

In [ ]:
arr2 = np.array([
                  [2, 1, 6], 
                  [0, 7, 4],
                  [5, 3, 2]
                 ])
arr2

In [ ]:
arr2[1:, 1:]

# [마무리 미션]

가격 변수는 각각 커피와 와플의 가격을 표시하고, </br>
커피, 와플 배열은 10일 동안의 커피와 와플 판매 개수를 표시합니다.

In [ ]:
커피_가격 = 3400
와플_가격 = 6700

커피_판매량 = np.array([45, 77, 65, 89, 123, 88, 67, 89, 99, 98])
와플_판매량 = np.array([78, 50, 120, 69, 49, 90, 39, 100, 60, 79])

## 1) 커피, 와플의 "일별" 판매 수익을 계산하세요

In [ ]:
# 여기에 코드를 작성하세요.

## 2) 커피와 와플의 "총 매출"과 "평균 매출" 을 구하세요

In [ ]:
# 힌트1 : sum() 함수는 배열의 모든 값을 더해줍니다. 
# e.g.) sum(np.array([1, 2, 3])) --> 결과는 6 

sum(np.array([1, 2, 3, 4, 5]))

In [ ]:
# 힌트2 : len() 함수는 배열의 길이를 알려줍니다. 
# e.g.) len([1, 2, 3]) --> 3

print(len([1, 2, 3]))
print(len(np.array([1, 2, 3, 4, 5])))

In [ ]:
# 힌트3 : 평균 매출 = 총매출 / 영업날짜